<section class="py-5 text-center">
    <div class="container">
        <h1>Booking Submitted!</h1>

        <p class="lead">
            Thank you for your booking request.
            You will receive a booking confirmation for your booking.
        </p>

        <a href="/" class="btn btn-dark">
            Return Home
        </a>
    </div>
</section>