<section class="py-5">
  <div class="container text-center">
    <h1 class="mb-4">Contact Us</h1>
    <a href="mailto:blissfulbites109@gmail.com?subject=General%20Enquiry%20-%20Blissful%20Bites&body=Hi%20Blissful%20Bites..."
      class="btn btn-outline-dark"
      target="_blank">
      Send Email
    </a>
    <p>Phone: +27 67 831 5503</p>
    <a href="https://wa.me/27678315503" class="btn btn-success mt-3" target="_blank">
      Chat on WhatsApp

    </a>
  </div>
</section>