<section class="py-5 services-section">
  <div class="container">
    <h1 class="text-center mb-2">Our Picnic Packages</h1>

    <p class="text-center text-muted mb-5">
      Choose the experience that suits your special occasion.
    </p>

    <div class="row g-4">

      <!-- Romantic Picnics -->
      <div class="col-lg-4">
        <div class="card h-100 shadow-sm pricing-card">

          <div class="card-body text-center p-4">

            <h4 class="mt-3">Romantic Picnics</h4>

            <div class="price-tag my-3">
               <span>R350</span>
            </div>

            <p>
              Curated setups for date nights, anniversaries, and proposals.
            </p>

            <ul class="list-unstyled text-start mt-4">
              <li>✓ Elegant picnic setup</li>
              <li>✓ Cushions and décor</li>
              <li>✓ Tableware and snacks included</li>
              <li>✓ Setup and cleanup</li>
            </ul>

            <a href="/bookings" class="btn btn-outline-dark w-100 mt-4">
              Book Now
            </a>

          </div>
        </div>
      </div>

      <!-- Corporate Team Building -->
      <div class="col-lg-4">
        <div class="card h-100 shadow pricing-card featured-package">


          <div class="card-body text-center p-4">

            <h4 class="mt-3">Corporate Team Building</h4>

            <div class="price-tag my-3">
              From <span>R800</span>
            </div>

            <p>
              Strengthen workplace bonds with thoughtfully outdoor experiences.
            </p>

            <ul class="list-unstyled text-start mt-4">
              <li>✓ Group coordination</li>
              <li>✓ Custom setup</li>
              <li>✓ Team activities</li>
              <li>✓ Setup and cleanup</li>
            </ul>

            <a href="/bookings" class="btn btn-outline-dark w-100 mt-4">
              Book Now
            </a>

          </div>
        </div>
      </div>

      <!-- Group Setups -->
      <div class="col-lg-4">
        <div class="card h-100 shadow-sm pricing-card">

          <div class="card-body text-center p-4">

            <h4 class="mt-3">Group Setups</h4>

            <div class="price-tag my-3">
              From <span> R500</span>
            </div>

            <p>
              Luxury picnic arrangements for friends, family, and private events.
            </p>

            <ul class="list-unstyled text-start mt-4">
              <li>✓ Premium décor</li>
              <li>✓ Flexible group sizes</li>
              <li>✓ Tableware and snacks included</li>
              <li>✓ Setup and cleanup</li>
            </ul>

            <a href="/bookings" class="btn btn-outline-dark w-100 mt-4">
              Book Now
            </a>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>